<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav class="activity-block">
        <div class="weather">
            <div class="weather-info">
                <p id="weather"></p>
            </div>
        </div>
        <div class="currency">
            <div class="currency-rates">
                <div class="currency-item">
                    <p><strong>USD:</strong></p>
                    <p class="currency-rate" id="usd-rub-rate"></p>
                </div>
                <div class="currency-item">
                    <p><strong>EUR:</strong></p>
                    <p class="currency-rate" id="eur-rub-rate"></p>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="container" style="display: grid; grid-template-columns: 290px auto;">
            <div class="logo">
                <a  href="/">техно<strong>.пресса</strong></a>
            </div>
            <div class="user">
            {% if session.logged_in == NULL %}
                <button href="/login" class="btn btn-success btn-lg">вход в аккаунт</button>
            {% endif %}
            </div>
        </div>
    </header>
</body>
</html>