{% extends 'layout.html' %}

{% block title %}Домашняя страница{% endblock title %}
{% block body %}
    <h1>Последние записи</h1>
    <div class="article">
        <h3 class="author">@youngbody113</h3>
        <h4 class="created_by">сегодня в 11:04</h4>
        <p class="article_text">Произвольный текст</p>
        <div class="buttons">
            <button class="like">
                <span class="material-symbols-outlined">
                    favorite
                </span>
            </button>
            <button class="comments">
                <span class="material-symbols-outlined">
                    chat_bubble
                </span>
            </button>
        </div>
    </div>
{% endblock %}